body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #faf2e4 url(summermenu/images/blackgoose.png) no-repeat center 100px fixed;
}
header {
  padding: 3em 1em 2em 1em;
  text-align: center;
  background:
    url(summermenu/images/gooseshadow.png) 90% bottom no-repeat;
  background-color: rgba(255, 255, 255, 0.384);
  border: 2px solid #d1633c;
  box-shadow: .1em .1em .2em rgb(172, 172, 172);
}

a {
  text-decoration: none;
}
a:link {
  color:#d13c3c;
}
a:visited {
  color: #cf6868;
}
a:hover {
  color: #ff2020;
  background-color: white;
}
a:active {
  color: #ff0000;
  background-color: white;
}
h1 {
  font: 3em "Engagement", Georgia, serif;
  text-shadow: .1em .1em .2em rgb(172, 172, 172);
  color: #d1633c;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: #c60;
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#info p {
  font-style: italic;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: small;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}

